@import "variables";

/* ---------------------------- Mixin for button style -------------------------- */
@mixin button-style {
  background-color: #b48821;
  color: $button-text-color;
  padding: 0 0.9rem;
  height: 2.6rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  box-shadow: 4px 8px 40px 0px rgba(142, 110, 26, 0.15%);
  transition: all 0.5s ease;
  &:hover {
    color: #001f3f;
  }
}

/* ---------------------------- Mixin for heading 2 style -------------------------- */
@mixin heading-2-style {
  color: #b48821;
  font-size: 3rem;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }

  @media (max-width: 576px) {
    font-size: 2rem;
  }
}

/* ---------------------------- Mixin for card shadow style -------------------------- */
@mixin card-shadow {
  box-shadow: -16px -19px 57px 32px rgba(0, 0, 0, 0.1),
    -30px 6px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

/* ---------------------------- Mixin for section padding style -------------------------- */
@mixin section-padding-style {
  margin: 8rem auto;
  width: 100%;
  max-width: 95rem;
  padding: 0 2rem;
}

/* ---------------------------- Mixin for Google fonts -------------------------- */

@mixin heading-1 {
  @font-face {
    font-family: "Roboto-Black";
    src: url("../assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
}

@mixin heading-2 {
  @font-face {
    font-family: "Roboto-Medium";
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}
@mixin heading-3 {
  @font-face {
    font-family: "Roboto-Medium";
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  font-size: 2.3rem;
}

@mixin paragraph-normal {
  @font-face {
    font-family: "Roboto-Regular";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@mixin paragraph-italics {
  @font-face {
    font-family: "Roboto-MediumItalic";
    src: url("../assets/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
}
@mixin yoga {
  @font-face {
    font-family: "Roboto-Light";
    src: url("../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-style: Light;
  }
}
@mixin prata-font {
  @font-face {
    font-family: "Prata";
    src: url("../assets/fonts/Prata/Prata-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
}
@mixin logo-font-style {
  @font-face {
    font-family: "MoonDance-Regular";
    src: url("../assets/fonts/MoonDance/MoonDance-Regular.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  color: #b48821;
}
